body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  padding: 149px 100px 100px 188px !important;
}

/* Baseline */

.d-flex {
  display: flex;
}

.justify-c-center {
  justify-content: center
}

.align-i-center {
  align-items: center;
}

.p-l-100 {
  padding-left: 100px;
}

/* component-specific */ 

.thead {}

.card {
  height: 170px;
  padding-left: 27px;
  border-style: solid;
  border-width: thin;
}


