body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  padding: 149px 100px 100px 188px !important;
  margin: 0;
}

/* Baseline */

.d-flex {
  display: flex;
}

.justify-c-center {
  justify-content: center
}

.align-i-center {
  align-items: center;
}

.p-l-100 {
  padding-left: 100px;
}

.op-05 {
  opacity: 0.5;
}

/* component-specific */ 

ul {
  list-style: none;
  letter-spacing: 1.9px;
  padding-bottom: 12px;
  font-size: 19px;
}

li {
  margin-right: 47px;
  font-size: 13px;
  color: #121212;
}

h1 {
  font-weight: bold;
  font-size: 30px;
  color: #0290ff;
}

.header {
  height: 95px;
}

.card {
  height: 170px;
  padding-left: 27px;
  border-style: solid;
  border-width: thin;
}


