body {
  font-family: 'Montserrat', sans-serif, 'Roboto Slab';
  height: 100vh;
  padding: 109px 60px 60px 109px !important;
  margin: 0;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.justify-c-center {
  justify-content: center
}

.align-i-center {
  align-items: center;
}

.p-l-100 {
  padding-left: 100px;
}

.op-05 {
  opacity: 0.5;
}

.op-02 {
  opacity: 0.2;
}

.border-inputs {
  border-style: solid;
  border-width: 1px;
  border-color: #e8e8e8
}

/* component-specific */ 

ul {
  list-style: none;
  letter-spacing: 1.9px;
  padding-bottom: 12px;
  font-size: 19px;
}

li {
  margin-right: 47px;
  font-size: 13px;
  color: #121212;
}

h1 {
  font-weight: bold;
  font-size: 30px;
  color: #0290ff;
}


h2 {
  font-weight: bold;
  color: #888888;
  font-size: 20px;
  letter-spacing: -0.18px;
}

.header {
  height: 95px;
}

.card {
  height: 170px;
  padding-left: 27px;
  border-style: solid;
  border-width: thin;
}

.name-input {
  height: 45px;
  width: 624px;
  margin-right: 37px;
  padding: 0;
}

.select-input {
  height: 47px;
  width: 245px;
  margin-right: 37px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;       /* Remove default arrow */
}

.button-one {
  width: 184px;
  height: 48px;
  background-color: #0290ff;
  color: #fafafa;
  border-style: none;
  font-family: 'Roboto Slab';
  font-weight: bold;
}

.button-one:hover {
  cursor: pointer;
}

.placeholder {
  margin-left: 15px;
  color: #c4c4c4;
  font-family: 'Montserrat';
  font-size: 16px;
  letter-spacing: -0.15px;
}
